# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules
package-lock.json

# TypeScript
*.tsbuildinfo

# Build directories
dist

strict.js
strict-react.js
spec/fixtures/atom-community
spec/fixtures/atom-minimap
spec/fixtures/steelbrain
